<!DOCTYPE html>
<html>
<head>

<title>Article</title>

<script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-gray-100">

<div class="max-w-5xl mx-auto p-8">

<a href="/"
class="text-blue-600">
← Back
</a>

<div class="bg-white p-8 mt-4 rounded shadow">

    <img
        src="{{ article.thumbnail }}"
        class="w-full rounded mb-6"
    >

    <h1 class="text-5xl font-bold mb-6 leading-tight"></h1>
        {{ article.title }}
    </h1>

    <p class="text-2xl text-gray-600 mb-8 italic"></p>
        {{ article.summary }}
    </p>

    <div class="text-lg leading-8 text-gray-800 whitespace-pre-line">
        {{ article.article }}
    </div>

    <div class="mt-8 pt-4 border-t">
        <strong>Tags:</strong>
        {{ article.tags }}
    </div>

</div>

</div>

</body>
</html>